In [0]:
#Importing libraries
import pandas as pd
import numpy as np

In [0]:
#Inspecting the cells_geo_description

cells_geo_description = pd.read_excel('cells_geo_description.xlsx')
cells_geo_description

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

In [2]:
#Reading the datasets provided 

#Loading first csv and reading the content
cells_geo = pd.read_csv('cells_geo.csv', sep=';', index_col=0)
cells_geo.head()
cells_geo.tail()




#variable holding the villes whose status is in service
vill_in_serv = cells_geo[cells_geo['STATUS'] == 'In Service']
vill_in_serv
vill_in_serv['VILLES'].value_counts()

##cocody ville has the highest number of cells still in service with 354 sites, 
#followed by yopougon with 289 and abobo with 250 
#MEMNI, OUANGOLO and DANANON have the lowest with 2,1 and 1 respectively


vill_in_serv.info()

#cells_geo.tail()



#cells_geo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3907 entries, 0 to 3973
Data columns (total 11 columns):
VILLES          3907 non-null object
STATUS          3907 non-null object
LOCALISATION    3907 non-null object
DECOUPZONE      3907 non-null object
ZONENAME        3901 non-null object
LONGITUDE       3907 non-null float64
LATITUDE        3907 non-null float64
REGION          3907 non-null object
AREA            3886 non-null object
CELL_ID         3907 non-null object
SITE_CODE       3907 non-null object
dtypes: float64(2), object(9)
memory usage: 366.3+ KB

# Dropping null values from cells_geo

In [3]:
cells_geo.dropna(inplace=True)
cells_geo.head()

   VILLES      STATUS LOCALISATION  ...           AREA     CELL_ID   SITE_CODE
23  ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  f740406877  0f34c36ac5
24  ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  959e54c8f7  0f34c36ac5
25  ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  56b7e7000c  0f34c36ac5
26  ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  bc51c17a6f  0f34c36ac5
27  ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  e460975c9f  0f34c36ac5

[5 rows x 11 columns]

In [0]:
cells_geo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3880 entries, 23 to 3973
Data columns (total 11 columns):
VILLES          3880 non-null object
STATUS          3880 non-null object
LOCALISATION    3880 non-null object
DECOUPZONE      3880 non-null object
ZONENAME        3880 non-null object
LONGITUDE       3880 non-null float64
LATITUDE        3880 non-null float64
REGION          3880 non-null object
AREA            3880 non-null object
CELL_ID         3880 non-null object
SITE_CODE       3880 non-null object
dtypes: float64(2), object(9)
memory usage: 363.8+ KB

In [0]:
cells_geo.rename(columns={'SITE_CODE': 'SITE_ID'}, inplace=True)

In [7]:
CDR_dict = pd.read_excel('CDR_description.xlsx')
CDR_dict

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [5]:
#Loading and reading the dataset CDR507

CDR507 = pd.read_csv('MoringaSchool_CB_CDR_20120507.csv')
CDR507.tail()

      PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
97858     sms      0  2012-05-07 00:44:10.0  ...     19e2e  f3aa9e7eb8  8fd6f8d1c5
97859     sms      0  2012-05-07 00:44:10.0  ...     19e2e  03aed941ac  43a3260fc9
97860     sms      0  2012-05-07 00:44:10.0  ...     19e2e  359b6f241a  165d822fcb
97861     sms      0  2012-05-07 00:44:10.0  ...     19e2e  919d63bc6c  d93346cdaa
97862   Voice     22  2012-05-07 00:44:10.0  ...     19e2e         201         NaN

[5 rows x 10 columns]

In [6]:
#Loading and reading the dataset CDR508

CDR508 = pd.read_csv('MoringaSchool_CB_CDR_20120508.csv')
CDR508.tail()

        PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
1280195     sms      0  2012-05-08 07:16:41.0  ...     19e2e  c8ac59a7e2  012114d799
1280196     sms      0  2012-05-08 07:16:41.0  ...     19e2e  a7dff74777  b47a998a3e
1280197     sms      0  2012-05-08 07:16:41.0  ...     19e2e  ac89c051f5  ae6f1d7150
1280198     sms      0  2012-05-08 07:16:41.0  ...     19e2e  ec90c83fd3  6e10745cb4
1280199     sms      0  2012-05-08 07:16:41.0  ...       NaN         NaN         NaN

[5 rows x 10 columns]

In [7]:
#Loading and reading the dataset CDR509

CDR509 = pd.read_csv('MoringaSchool_CB_CDR_20120509.csv')
CDR509.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

# Cleaning the data

In [8]:
#Renaming the columns and making them similar

columns = ['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ON_SITE', 'DW_NUMBER_INT', 'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID']

CDR507.columns = columns
CDR507.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [9]:
#Changing the columns of CDR508
CDR508.columns = columns

CDR508.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [10]:
#Changing the columns of CDR509

CDR509.columns = columns

CDR509.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

# Concatenating the three datasets

In [11]:
#Joining the three datasets
df_concat = pd.concat([CDR507, CDR508, CDR509], ignore_index = True)
df_concat.tail()

        PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
2619989   Voice      0  2012-05-09 08:06:36.0  ...     19e2e  51692be984  fb480113cd
2619990   Voice     62  2012-05-09 08:06:36.0  ...     19e2e  acf0862641  3f037c4bcc
2619991   Voice     18  2012-05-09 08:06:36.0  ...     19e2e  b70562c3d0  affe00c828
2619992   Voice    190  2012-05-09 08:06:36.0  ...     19e2e  19c95a8eca  ba8ce6e4ef
2619993   Voice     30  2012-05-09 08:06:36.0  ...       NaN         NaN         NaN

[5 rows x 10 columns]

# Dropping the columns that are not useful

In [12]:
df_concat.drop(columns= ['COUNTRY_A', 'COUNTRY_B', 'CELL_ON_SITE'], inplace=True)
df_concat.head()

  PRODUCT  VALUE  ...     CELL_ID     SITE_ID
0   Voice      0  ...  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  ...  /+cKZKIp41  /+cKZKIp41
2     sms     25  ...  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  ...  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  ...  051KhYDCpv  051KhYDCpv

[5 rows x 7 columns]

# Splitting the date_time column to date and time

In [13]:
#Splitting the date_time column and creating two new columns to hold the two variables 

df_concat[['date', 'time']] = df_concat.DATE_TIME.str.split(expand=True)
df_concat.head()

  PRODUCT  VALUE              DATE_TIME  ...     SITE_ID        date        time
0   Voice      0  2012-05-06 23:04:37.0  ...  /TJNe+Mmtu  2012-05-06  23:04:37.0
1     sms      0  2012-05-06 23:05:25.0  ...  /+cKZKIp41  2012-05-06  23:05:25.0
2     sms     25  2012-05-06 23:05:41.0  ...  /u0FSD+ahi  2012-05-06  23:05:41.0
3   Voice     56  2012-05-06 23:05:42.0  ...  +cNeJzsTp3  2012-05-06  23:05:42.0
4   Voice     14  2012-05-06 23:06:29.0  ...  051KhYDCpv  2012-05-06  23:06:29.0

[5 rows x 9 columns]

In [14]:
#Dropping DATE_TIME column
df_concat.drop(columns=['DATE_TIME'], inplace=True)
df_concat.head()

  PRODUCT  VALUE    DW_NUMBER_INT  ...     SITE_ID        date        time
0   Voice      0  49fae048b547780  ...  /TJNe+Mmtu  2012-05-06  23:04:37.0
1     sms      0  7a54a6eaee19e65  ...  /+cKZKIp41  2012-05-06  23:05:25.0
2     sms     25  6008887b0207d82  ...  /u0FSD+ahi  2012-05-06  23:05:41.0
3   Voice     56  7370032e20f4e96  ...  +cNeJzsTp3  2012-05-06  23:05:42.0
4   Voice     14  966ba4656e38e62  ...  051KhYDCpv  2012-05-06  23:06:29.0

[5 rows x 8 columns]

# Inspecting data in cancatenated dataset

In [15]:
df_cln = df_concat.groupby(['time', 'PRODUCT'])[['PRODUCT']].count()
df_cln.head(10)

                    PRODUCT
time       PRODUCT
00:00:00.0 Voice         28
           data           4
           sms           35
00:00:01.0 Voice         77
           data          11
           sms           48
00:00:02.0 Voice         47
           data          12
           sms           44
00:00:03.0 Voice         40

In [16]:
df_cln2 = df_concat.groupby(['time', 'PRODUCT'])[['VALUE']].sum()
df_cln2.head(10)

                    VALUE
time       PRODUCT
00:00:00.0 Voice      666
           data         0
           sms        285
00:00:01.0 Voice     3253
           data         0
           sms        562
00:00:02.0 Voice     1359
           data         3
           sms        334
00:00:03.0 Voice     5814

In [0]:
df_cln2.tail(20)

                    VALUE
time       PRODUCT
23:59:39.0 sms          0
23:59:40.0 Voice        0
23:59:41.0 sms          0
23:59:42.0 Voice        0
23:59:43.0 Voice        3
23:59:44.0 sms          0
23:59:45.0 sms          0
23:59:47.0 Voice      109
23:59:48.0 Voice        0
           data         0
23:59:49.0 Voice        0
23:59:50.0 sms         50
23:59:51.0 sms          0
23:59:53.0 sms          0
23:59:54.0 Voice      130
23:59:55.0 sms          0
23:59:56.0 Voice       29
23:59:57.0 sms          0
23:59:58.0 Voice       31
           sms          0

In [17]:
df_time = df_concat.loc[(df_concat.time >= '09:00:00.0')]
df_time.head()
df_time2 = df_concat[df_concat.time <= '17:00:00.0']
df_time2.tail()

        PRODUCT  VALUE    DW_NUMBER_INT  ...     SITE_ID        date        time
2619989   Voice      0  b022038fa7820ae  ...  fb480113cd  2012-05-09  08:06:36.0
2619990   Voice     62  477bec17bd86bb3  ...  3f037c4bcc  2012-05-09  08:06:36.0
2619991   Voice     18  be1bff97e557890  ...  affe00c828  2012-05-09  08:06:36.0
2619992   Voice    190  db9741bed31f03f  ...  ba8ce6e4ef  2012-05-09  08:06:36.0
2619993   Voice     30              NaN  ...         NaN  2012-05-09  08:06:36.0

[5 rows x 8 columns]

# Merging the concatenated dataframe with cells_geo

In [18]:
#Creating a variable to store the merged dataframe

mergd = cells_geo.merge(df_concat, how='left', on='SITE_ID')
mergd.head()

  VILLES      STATUS LOCALISATION  ...   CELL_ID_y        date        time
0  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:16.0
1  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:20.0
2  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:20.0
3  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:22.0
4  ABOBO  In Service      ABIDJAN  ...  10ae6c0752  2012-05-07  00:00:37.0

[5 rows x 18 columns]

In [19]:
#Creating a variable to hold the values of the merged tabe where time is not null

mag = mergd[mergd.time.notnull()]
mag.head()

  VILLES      STATUS LOCALISATION  ...   CELL_ID_y        date        time
0  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:16.0
1  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:20.0
2  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:20.0
3  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:22.0
4  ABOBO  In Service      ABIDJAN  ...  10ae6c0752  2012-05-07  00:00:37.0

[5 rows x 18 columns]

In [62]:
mag[mag['PRODUCT'] == 'data']

Empty DataFrame
Columns: [VILLES, STATUS, LOCALISATION, DECOUPZONE, ZONENAME, LONGITUDE, LATITUDE, REGION, AREA, CELL_ID_x, SITE_ID, PRODUCT, VALUE, DW_NUMBER_INT, DW_B_NUMBER_INT, CELL_ID_y, date, time]
Index: []

# Inspecting the merged dataframe

In [20]:
#Grouping the merged table with no bull time values by time and product 

mag.groupby(['time', 'PRODUCT'])[['VALUE']].sum().head(10)

                      VALUE
time       PRODUCT
00:00:00.0 Voice     2679.0
           sms       1333.0
00:00:01.0 Voice    13628.0
           sms       2558.0
00:00:02.0 Voice     5975.0
           sms       1479.0
00:00:03.0 Voice    24385.0
           sms       3462.0
00:00:04.0 Voice     8705.0
           sms       3078.0

In [21]:
mag[(mag['time'] >= '09:00:00.0') & (mag['time'] <= '17:00:00.0')]

Empty DataFrame
Columns: [VILLES, STATUS, LOCALISATION, DECOUPZONE, ZONENAME, LONGITUDE, LATITUDE, REGION, AREA, CELL_ID_x, SITE_ID, PRODUCT, VALUE, DW_NUMBER_INT, DW_B_NUMBER_INT, CELL_ID_y, date, time]
Index: []

In [22]:
#Checking the network use between 00:00 and 01:00hrs

taim = mag[(mag['time'] >= '00:00:00.0') & (mag['time'] <= '01:00:00.0')]
taim.head()

  VILLES      STATUS LOCALISATION  ...   CELL_ID_y        date        time
0  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:16.0
1  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:20.0
2  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:20.0
3  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:22.0
4  ABOBO  In Service      ABIDJAN  ...  10ae6c0752  2012-05-07  00:00:37.0

[5 rows x 18 columns]

In [23]:
#Grouping the merged dataframe by time and product and displaying the sum of the value variable

taim.groupby(['time', 'PRODUCT'])[['VALUE']].sum().head(10)

                      VALUE
time       PRODUCT
00:00:00.0 Voice     2679.0
           sms       1333.0
00:00:01.0 Voice    13628.0
           sms       2558.0
00:00:02.0 Voice     5975.0
           sms       1479.0
00:00:03.0 Voice    24385.0
           sms       3462.0
00:00:04.0 Voice     8705.0
           sms       3078.0

In [0]:
##most communication occurs during home hours
##voice is the most used product
##best time for an upgrade will be during the day

In [24]:
#Checking the network use between the time 01:00 and 02:00

tam = mag[(mag['time'] >= '01:00:00.0') & (mag['time'] <= '02:00:00.0')]
tam.head()

    VILLES      STATUS LOCALISATION  ...   CELL_ID_y        date        time
598  ABOBO  In Service      ABIDJAN  ...  10ae6c0752  2012-05-08  01:00:26.0
599  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-08  01:00:36.0
600  ABOBO  In Service      ABIDJAN  ...  10ae6c0752  2012-05-08  01:00:36.0
601  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-08  01:00:39.0
602  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-08  01:01:22.0

[5 rows x 18 columns]

In [25]:
#Grouping the dataframe by time and product and displaying the sum of values between the time 01:00 and 02:00

tam.groupby(['time', 'PRODUCT'])[['VALUE']].sum().head(10)

                     VALUE
time       PRODUCT
01:00:00.0 Voice    3825.0
           sms       150.0
01:00:01.0 Voice    2612.0
           sms       675.0
01:00:02.0 Voice     993.0
           sms         0.0
01:00:03.0 Voice    1144.0
           sms         0.0
01:00:04.0 Voice     489.0
           sms      1425.0

In [34]:
#Checking the network use between 02:30 and 05:30

tm = mag[(mag['time'] >= '02:30:00.0') & (mag['time'] <= '05:30:00.0')]
tm.head()

    VILLES      STATUS LOCALISATION  ...   CELL_ID_y        date        time
880  ABOBO  In Service      ABIDJAN  ...  10ae6c0752  2012-05-08  02:31:28.0
881  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-08  02:31:52.0
882  ABOBO  In Service      ABIDJAN  ...  10ae6c0752  2012-05-08  02:33:09.0
883  ABOBO  In Service      ABIDJAN  ...  10ae6c0752  2012-05-08  02:34:33.0
884  ABOBO  In Service      ABIDJAN  ...  10ae6c0752  2012-05-08  02:34:48.0

[5 rows x 18 columns]

In [35]:
tm.groupby(['time', 'PRODUCT'])[['VALUE']].sum().head(20)

                     VALUE
time       PRODUCT
02:30:00.0 Voice     147.0
           sms         0.0
02:30:01.0 Voice     501.0
           sms         0.0
02:30:02.0 Voice     358.0
           sms      1800.0
02:30:03.0 Voice    4944.0
           sms         0.0
02:30:04.0 Voice     128.0
           sms         0.0
02:30:05.0 Voice       0.0
           sms         0.0
02:30:06.0 Voice       0.0
           sms         0.0
02:30:07.0 Voice     165.0
           sms        75.0
02:30:08.0 sms         0.0
02:30:09.0 Voice     558.0
           sms         0.0
02:30:10.0 Voice      78.0

In [49]:
#checking the maximum value to determine the most used product

mag[['VALUE']].max()

VALUE    14916.0
dtype: float64

In [50]:
#Checking the city with the most users of the voice product 
mag[mag['VALUE'] == 14916.0]

              VILLES      STATUS  ...        date        time
9412014  TREICHVILLE  In Service  ...  2012-05-09  03:46:26.0
9414356  TREICHVILLE  In Service  ...  2012-05-09  03:46:26.0
9416698  TREICHVILLE  In Service  ...  2012-05-09  03:46:26.0
9419040  TREICHVILLE  In Service  ...  2012-05-09  03:46:26.0
9421382  TREICHVILLE  In Service  ...  2012-05-09  03:46:26.0
9423724  TREICHVILLE  In Service  ...  2012-05-09  03:46:26.0

[6 rows x 18 columns]

In [0]:
##The city of TREICHVILLE has the most users of voice product.

In [51]:
#checking highest value of the sms product 
#
gam = mag[mag['PRODUCT'] == 'sms']
gam.head()

gam['VALUE'].max()

  VILLES      STATUS LOCALISATION  ...   CELL_ID_y        date        time
0  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:16.0
1  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:20.0
2  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:20.0
3  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:22.0
5  ABOBO  In Service      ABIDJAN  ...  10ae6c0752  2012-05-07  00:00:39.0

[5 rows x 18 columns]

In [52]:
gam['VALUE'].max()

300.0

In [54]:
#Getting the cities with the most users of sms
gam[gam['VALUE'] == 300.0].head()

            VILLES      STATUS LOCALISATION  ...   CELL_ID_y        date        time
87770   ABENGOUROU  In Service    INTERIEUR  ...  dc27a3f9d9  2012-05-09  07:10:52.0
89404   ABENGOUROU  In Service    INTERIEUR  ...  dc27a3f9d9  2012-05-09  07:10:52.0
91038   ABENGOUROU  In Service    INTERIEUR  ...  dc27a3f9d9  2012-05-09  07:10:52.0
354478       ABOBO  In Service      ABIDJAN  ...  7fb47ded92  2012-05-09  08:00:42.0
364122       ABOBO  In Service      ABIDJAN  ...  7fb47ded92  2012-05-09  08:00:42.0

[5 rows x 18 columns]

In [0]:
##The cities of Cocody, Petit Yapo, Abobo, Dabou, Yopougon & Abengourou have the highest number of sms users.

In [58]:
#Checking the cities with most users of the network

mag['VILLES'].value_counts()

YOPOUGON         1615158
ABOBO            1468913
COCODY            715716
ADJAME            478898
DALOA             404658
YAMOUSSOUKRO      399763
ATTECOUBE         349482
TREICHVILLE       309751
SAN-PEDRO         290960
KOUMASSI          284653
BOUAKE            273023
MARCORY           267978
PORT-BOUET        261515
DIVO              231366
GAGNOA            229004
MAN               135819
KORHOGO           115097
ANYAMA            109809
DUEKOUE            95652
SOUBRE             89956
BINGERVILLE        76365
PLATEAU            76230
SEGUELA            75219
LAKOTA             71601
AGBOVILLE          69477
DABOU              64347
ISSIA              64191
GUIGLO             54618
ADZOPE             52332
GRAND-BASSAM       49749
                  ...
BONGUERA             510
DANIA                504
BOROTOU              495
DIAWALA              495
KAMELE               495
PEHE                 483
FEREDOUGOU           483
BROU AKPASSOU        476
NANIEFONGO           468
GOUMERE              465
TANKESSE             465
DIAMARAKRO           453
BOUAPE               450
APPOISSO             450
TOUKOUZOU            417
BANIA                402
KRIZABAHIO           393
NIANDA               369
DAME                 345
KOUNTIGUISSO         336
KOTOULA              332
RAPIDES GRAH         234
DOUFREBO             198
ITTY                 195
TIOBLY               171
BACOUBLY             141
VROUHO               108
DIDOKO                96
NIAMANA                3
KETRO BASSAM           3
Name: VILLES, Length: 488, dtype: int64

In [0]:
##The most used cities for the three days were YOPOUGON, Abobo and Cocody respectively

#The most used city for the three days was Yopougon

In [72]:
#Checking network use outside business hours between 00:00 and 09:00hrs
gm = mag[(mag['time'] >= '00:00:00.0') & (mag['time'] <= '09:00:00.0')]
gm.head()

  VILLES      STATUS LOCALISATION  ...   CELL_ID_y        date        time
0  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:16.0
1  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:20.0
2  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:20.0
3  ABOBO  In Service      ABIDJAN  ...  e12d87c801  2012-05-07  00:00:22.0
4  ABOBO  In Service      ABIDJAN  ...  10ae6c0752  2012-05-07  00:00:37.0

[5 rows x 18 columns]

In [73]:
gm['VILLES'].value_counts()

YOPOUGON         1615158
ABOBO            1468913
COCODY            715716
ADJAME            478898
DALOA             404658
YAMOUSSOUKRO      399763
ATTECOUBE         349482
TREICHVILLE       309751
SAN-PEDRO         290960
KOUMASSI          284653
BOUAKE            273023
MARCORY           267978
PORT-BOUET        261515
DIVO              231366
GAGNOA            229004
MAN               135819
KORHOGO           115097
ANYAMA            109809
DUEKOUE            95652
SOUBRE             89956
BINGERVILLE        76365
PLATEAU            76230
SEGUELA            75219
LAKOTA             71601
AGBOVILLE          69477
DABOU              64347
ISSIA              64191
GUIGLO             54618
ADZOPE             52332
GRAND-BASSAM       49749
                  ...
BONGUERA             510
DANIA                504
BOROTOU              495
DIAWALA              495
KAMELE               495
PEHE                 483
FEREDOUGOU           483
BROU AKPASSOU        476
NANIEFONGO           468
GOUMERE              465
TANKESSE             465
DIAMARAKRO           453
BOUAPE               450
APPOISSO             450
TOUKOUZOU            417
BANIA                402
KRIZABAHIO           393
NIANDA               369
DAME                 345
KOUNTIGUISSO         336
KOTOULA              332
RAPIDES GRAH         234
DOUFREBO             198
ITTY                 195
TIOBLY               171
BACOUBLY             141
VROUHO               108
DIDOKO                96
NIAMANA                3
KETRO BASSAM           3
Name: VILLES, Length: 488, dtype: int64

In [0]:
##The most used cities during home hours was Yopougon, Abobo and Cocody